@import 'unit';
// @import '../../public/fonts/font.css';

$primary-color: #51267d;
$secondary-color: #f1eff4;
$black-1: #000;
$black-2: #292929;
$text-light: #808080;
$background: #fefefe;
$lightgray: #f5f5f5;
$lightgray-2: #dde2e4;
$lightgray-3: #e5e9eb;
$lightgray-4: #eef0f2;
$midgray-1: #5b6871;
$midgray-2: #6e7c87;
$darkgray-1: #1a2024;
$darkgray-2: #252c32;
$darkgray-3: #303940;
$darkgray-4: #48535b;
$darkgray-5: #48535b;

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  padding: 0;
  margin: 0;
  font-family: 'Inter', sans-serif;
  color: $black-1;
  background-color: $background;
  min-height: 100vh;
}

a {
  color: inherit;
  text-decoration: none;
}

li {
  list-style: none;
}

button {
  border: none;
  cursor: pointer;
  font-family: inherit;
  font-size: inherit;
}

input,
textarea {
  color: inherit;
  font-size: inherit;
  font-family: inherit;
}

img {
  object-fit: cover;
  width: 100%;
}

/* width */
::-webkit-scrollbar {
  width: rem(5);
  opacity: 0;
}

/* Track */
::-webkit-scrollbar-track {
  display: none;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #aeaeae;
  border-radius: 3px;
}

.container {
  max-width: 1200px;
  width: 100%;
  padding-left: 1rem;
  padding-right: 1rem;
  margin: auto;
}
