@import '../../../styles/unit.scss';
@import '../../../styles/media.scss';
@import '../../../styles/animation.scss';

.slider {
  .slide {
    overflow: hidden;
    position: relative;
    border-radius: rem(12);
    height: rem(160);
    outline: none;
    img {
      height: 100%;
    }
    &.loading {
      @include skeleton;
    }
  }
  .slickDots {
    bottom: 0;
    li {
      width: fit-content;
      height: fit-content;
      .dot {
        border-radius: rem(56);
        background: #fff;
        opacity: 0.7;
        width: rem(8);
        height: rem(8);
        transition: 300ms ease;
        &.active {
          width: rem(24);
          opacity: 1;
        }
      }
    }
  }
  @include media($lg) {
    .slide {
      border-radius: rem(24);
      height: rem(400);
    }
    .slickDots {
      bottom: rem(4.85);
      li {
        .dot {
          width: 1rem;
          height: 1rem;

          &.active {
            width: rem(51);
          }
        }
      }
    }
  }
}

.sliderMultiple,
.slider {
  .slideNextBtn,
  .slidePrevBtn {
    border-radius: 50%;
    width: rem(48);
    height: rem(48);
    background-color: white;
    position: absolute;
    z-index: 10;
    top: 50%;
    cursor: pointer;
    display: none;
    align-items: center;
    justify-content: center;
    box-shadow: 0px 1px 12px rgba(0, 0, 0, 0.1);
    transition: 150ms ease;
    &:hover {
      opacity: 0.9;
    }
    @include media($lg) {
      display: flex;
    }
  }

  .slideNextBtn {
    right: 0;
    transform: translate(50%, -50%);
    &:active {
      transform: translate(50%, -50%) scale(0.95);
    }
  }

  .slidePrevBtn {
    left: 0;
    transform: translate(-50%, -50%);
    &:active {
      transform: translate(-50%, -50%) scale(0.95);
    }
  }
}
