@import '../../../styles/unit.scss';
@import '../../../styles/media.scss';
@import '../../../styles/animation.scss';
@import '../../../styles/globals.scss';

.card {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-color: #fff;
  box-shadow: 0px 0px 12px rgba(0, 0, 0, 0.05);
  height: 100%;
  border-radius: rem(12);
  overflow: hidden;
  &_img {
    position: relative;
    height: rem(124);
    cursor: pointer;

    &.loading {
      @include skeleton;
    }

    img {
      height: 100%;

      &.grayscale {
        filter: grayscale(100%);
      }
    }

    .unavailable {
      cursor: default;
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      background-color: #292929cc;
      backdrop-filter: blur(5px);
      width: 208px;
      height: 40px;
      color: #fff;
      display: flex;
      align-items: center;
      justify-content: center;
      border-radius: 24px;
    }
  }

  &_content {
    padding: rem(16) rem(8) rem(12);

    .title {
      font-size: rem(16);
      cursor: pointer;
      font-weight: 400;
      margin-bottom: rem(7);
    }

    .description {
      cursor: pointer;
      font-size: rem(12);
      color: $darkgray-4;
    }

    .card_actions {
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      justify-content: space-between;
      margin-top: rem(12);
      gap: rem(8);

      .price {
        white-space: nowrap;
        font-size: rem(16);
        font-weight: 600;
        color: $darkgray-2;
        span:not(.with_discount, .original_price) {
          font-size: rem(14);
          font-weight: normal;
        }
      }
    }
  }

  &.unavailable > &_img,
  &.unavailable > &_content .title,
  &.unavailable > &_content .price,
  &.unavailable > &_content .description {
    cursor: default;
    opacity: 0.4;
  }

  @include media($lg) {
    border-radius: rem(16);

    &_img {
      height: rem(220);
    }

    &_content {
      padding: rem(12) rem(16) rem(16);

      .title {
        font-size: rem(18);
        font-weight: 600;
        margin-bottom: rem(7);
      }

      .description {
        font-size: rem(14);
      }

      .card_actions {
        flex-direction: row;
        align-items: center;
        margin-top: rem(12);

        div:not(.counter) {
          width: max-content;
        }

        .counter {
          width: rem(107);
          height: rem(37);
        }

        .price {
          font-size: rem(18);
          font-weight: 700;
          span:not(.with_discount, .original_price) {
            font-size: rem(14);
          }
        }
      }
    }
  }
}
